#navbar {
  z-index: 1000;
  background: #45276D;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
